/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--major-font), sans-serif;
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--background-image);
  background-attachment: fixed;
}

/* Начло блока стилей для шапки */
.header {
  border: 2px solid var(--accent-color);
  max-width: 700px;
  margin-inline: auto;
  background-color: var(--background-color);
  text-align: center;
  font-family: var(--accent-font), sans-serif;
  margin-block-start: 100px;
  margin-block-end: 100px;
  padding-block-start: 135px;
  padding-block-end: 22px;
}
.header-title {
  display: block;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-bottom: 23px;
  text-decoration: none;
}
.header-text { 
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header-title:focus {
  outline: none;
}
.header__theme-menu {
  display: flex;
  justify-content: center;
}
.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  padding-top: 25px;
  text-align: left;
}
.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  transition: opacity 1s;
}

.theme-menu__button::before {
  content: "";
  padding: 0;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶️";
  animation: arrow_shift 1s infinite;
  animation-duration: alternate;
  animation-timing-function: ease-in-out;
  position: absolute;
  left: -90px;
  top: 0;
}
.theme-menu__item {
  position: relative;
  padding-inline-start: 21px;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 2px;
  background-color: var(--accent-color);
  transition: width 300ms, background-color 1s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  background-color: var(--accent-color);
}

/* конец блока стилей шапки */

/* начало блока стилей карточек*/

.section {
  max-width: 700px;
  margin-inline: auto;
  display: grid;
  gap: 50px;
}

.card {
  display: block;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  margin-inline: auto;
}
.image-block {
  overflow: hidden;
  position: relative;
  max-height: 700px;
}

.card-image {
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card-label {
  z-index: 1;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  position: absolute;
  right: 25px;
  top: 30px;
  mix-blend-mode: hard-light;
  color: var(--accent-color);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: white; 
  text-shadow: var(--shadow) 1px 1px, var(--shadow) -1px -1px;
  opacity: 0.5;
}
@supports((text-stroke: 1px white;) or (-webkit-text-stroke: 1px white;)) {
.card-label {
  -webkit-text-stroke: 1px white; 
  text-stroke: 1px white; 
  text-shadow: none;
}

}
.card-title {
  font-size: 18px;
  padding: 5px 10px 3px;
  line-height: 21px;
  text-align: left;
  font-variation-settings: 'wght' var(--font-wght-card-title);
  
}

.text-card {
  display: grid;
  gap: 27px;
  font-size: 18px;
  line-height: 21px;
  padding: 21px 25px;
  font-variation-settings: 'wght' var(--font-wght-card-text);
}

/* конеч блока стилей карточек*/

/* начало блока стилей кнопок */
.card-button-block {
  display: flex;
  justify-content: end;
  gap: 8px;
  align-items: center;
  padding-block-end: 25px;
  padding-inline-end: 25px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  border: none;
  outline: 2px solid var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  position: relative;
  transition: box-shadow 0.5s;
  cursor: pointer;
  overflow: hidden;
}
.button:focus {
  border: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 2px var(--accent-color);
  outline: 2px solid var(--accent-color);
}
.button__text {
  z-index: 1;
  position: relative;
  font-size: 14px;
  color: var(--like-button-color);
  mix-blend-mode: difference;
}
.button::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  position: absolute;
}
.button:hover::after {
  cursor: pointer;
  transform: translateX(0);
}

.card__icon-button {
  background-color: transparent;
  padding: 0;
  color: transparent;
  transition: color 0.3s ease;
  outline: 2px solid;
  border: none;
}
.card__icon-button:focus-visible {
  color: var(--accent-color);
  outline: 2px solid var(--accent-color);
}
.card__like-button {
  width: 126px;
  height: 38px;
  padding: 0px;
}
.dialog-button {
  gap: 10px;
  margin-block-start: 50px;
  margin-block-end: 100px;
  margin-inline: auto;
  width: 335px;
  height: 50px;
}
.floppy-svg {
  z-index: 1;
  width: 21px;
  position: relative;
  color: var(--like-button-color);
  mix-blend-mode: difference;
}
/* конец блока стилей кнопок */

/* начало блока стилей модального окна */
.modal-window {
  background-color: var(--background-color);
  border: none;
  outline: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-family: var(--accent-font), fantasy, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0px;
}
.modal-window_content {
  display: flex;
}

.modal-window::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal-window_button {
  text-transform: uppercase;
  height: 38px;
  width: 293px;
  padding: 0px;
}

.modal-window:is([open]) .modal-window_form {
  display: grid;
  gap: 30px;
  align-self: center;
}

.modal-window:is([open]) .floppy {
  min-width: 39px;
  margin-inline-end: 20px;
}

.modal-window_form {
  padding: 30px;
}

.modal-window_text {
  display: block;
  max-width: 200px;
  line-height: 21px;
}
/* Конец  блока стилей модального окна */

/* Начло блока стилей фильтров картинок */
.filter-brightness {
  filter: brightness(120%);
}

.filter-saturate {
  filter: saturate(150%);
}
.filter-blur {
  filter: blur(5px);
}
.filter-contrast {
  filter: contrast(210%);
}
.filter-invert {
  filter: invert(70%);
}
.filter-sepia {
  filter: sepia(0.3);
}
.filter-grayscale-hue-rotate{
  filter: grayscale(80%) hue-rotate(50deg);
}
.filter-contrast-sepia {
  filter: contrast(210%) sepia(0.5);
}
/* Конец блока стилей фильтров картинок */

/* Начало небольшого  блока медиа */
@media (width <= 375px) {
  .header {
    width: 100%;
    padding-block-start: 120px;
  }

  .section {
    width: 100vw;
  }

  .card_title {
    display: block;
    max-width: 316px;
  }

  .image-block {
    height: 375px;
    width: 371px;
    position: relative;
    overflow: hidden;
  }

  .dialog-button {
    flex-direction: column;
    width: 306px;
    height: 80px;
  }
  .save-text {
    padding-bottom: 10px;
  }

  .floppy-svg {
    width: 28px;
  }

  .modal-window_button {
    width: 257px;
  }
}
/* Конец небольшого  блока медиа */
