/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --major-font: 'Inter-Variable';
    --accent-font: 'PressStart2P';
    --title-card-font-weight: 700;
    --text-card-font-weght: 400;
    --background-color: white; 
    --accent-color: black; 
    --background_image: repeating-linear-gradient(
        to right,
        #d3d3d3 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
      repeating-linear-gradient(#e7e7e7 0.01%, #1a1a1a);
    --heart-countour-color: black; 
    --heart-filled-color: red; 
    --heart-full-color: black ;
    --shadow: white;
    --like-button-color: white;
    --font-wght-card-title: 700; 
    --font-wght-card-text: 400; 
    



}
